section {
  border: 1px solid blue;
  width: 100%;
  float: left;
}

div {
  margin: 16px;
  width: 350px;
  height: 350px;
}

.left {
  float: left;
  background: blue;
}

.right {
  float: right;
  background: cyan;
}